/* ____________________________________________________ */
/* BEST SELLERS */

/* Define altura e ajusta o redimensionamento das imagens nos cartões */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Define espaçamento interno para a seção de best sellers */
#best-sellers {
    padding: 4em 0;
}
 /* Remove margens horizontais para a linha de produtos */
 #best-sellers .row {
    margin: 0;
 }

 /* Ajusta o espaçamento interno das colunas dos produtos */
 #best-sellers .col-md-3 {
    padding: 0;
 }

 /* Estilos para o título da seção */
 .title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5em;
    margin-bottom: 1em;
    text-align: center;
 }

 /* Media query para telas com largura mínima de 768px */
 @media(min-width: 768px) {
    /* Ajusta o alinhamento do título para a esquerda */
    .title {
        text-align: left;
    }
 }

 /* Estilos para os preços */
 .original-price {
    font-size: 18px;
    color: #F2F2F2;
    text-decoration: line-through;
    margin-right: 10px;
 }

 .discount-price {
    font-size: 24px;
    color: #976DF2; /* Cor destacada para o preço mais baixo */
 }
 
 /* Estilos para os catões de produtos */
 .card {
    text-align: center;
    border-radius: 0;
 }

 /* Ajusta o tamanho da imagem nos cartões */
 .card img {
    width: 140px;
    margin: 2em auto;
 }

 /* Estilos paea a categoria de produtos nos cartões */
 .card .card-category {
    font-size: .8rem;
 }

 /* Estilos para o texto nos cartões */
 .card .card-text {
    margin: 2em 0;
    font-weight: bold;
 }

 /* Estilos para os botões de compra */
 .btn {
    background-color: transparent;
    border-color: #976DF2;
 }

 /* Estilos de hover para os botões de compra */
 .btn:hover {
    background-color: #976DF2;
    border-color: #976DF2;
 }

 /* _________________________________________________________ */
 /* BOTTOM BANNER */

 /* Define cor de fundo, espaçamento interno e margens para o banner */
 #bottom-banner {
    background-color: #0D0D0D;
    padding: 6em;
    margin-bottom: 4em;
    text-align: center;
 }

 /* Deine estilo para o subtítulo da oferta e título */
 #bottom-banner .offer-subtitle,
 #bottom-banner h2 {
    text-transform: uppercase;
    font-weight: bold;
 }

 /* Define tamanho máximo para a imagem */
 #bottom-banner img {
    max-width: 175px;
 }

 /* Mdia query para telas com largura mínima de 168px */
 @media(min-width:768px) {
    /* Ajusta tamanho do título para telas maiores */
    #bottom-banner h2 {
        font-size: 5em;
    }
 }
 /* ________________________________________________________________ */

